.categories{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px -5px -5px;
  width: 100%;
  padding-bottom: 10px;
}
.category-button{
  padding: 6px 15px;
  color: #ABABAB;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: 2px solid #F8F8F8;
  border-radius: 6px;
  width: min-content;
  margin: 0 5px 5px 5px;
  cursor: pointer;
}
.active-category-button{
  background: #F8F8F8;
  color: #333333;
}
